/* author:Didi Liang
   date:27/2/2016
   Note:This is a stylesheet for index.html,the homework#1 for COMP1950
 */




/* html rules */
body {
	margin:0px;
	padding:0px;
background-color:#FF9393;
background-image: url("../image/pink_background_1.jpg");
  font-family:"arial", verdana, sans-serif;}

h2{color:#847171;
   font-family:"arial", verdana, sans-serif;
   font-size:24px;}

h3{ font-family:"arial", verdana, sans-serif;
   font-size:18px;
   }

a{ color:black;
text-decoration:none;}

a:visited{color:black;}
a:hover{
        color:#FF9393;
        text-decoration:underline;}

/*id rules */
#container{position:relative;
	       background-color:white;
           min-width:80%;
           margin:30px 60px 30px 60px;
           overflow: hidden;
           }

#navigation{background-color:white;}

#logo{margin-left:350px;}

#footer{text-align:center;
        background-color:#F73838;
        color:white;
         margin:0px;
         padding:0px;}
#navigation{width:1000px;}
/*class rules */

/* style for navigation */
.drop_menu{padding:0px;
           margin:0px;}

.drop_menu li { float:left;
                margin-top:0px;
                margin-left:200px;
                margin-bottom:100px;
                padding-right:10px;
             list-style-type:none;
             font-family:"arial", verdana, sans-serif;
	         font-size:18px;
             }
.drop_menu li a {
	padding:9px 20px;
	display:block;
	color:#F64E4E;
	text-decoration:none;
	font-family:"arial", verdana, sans-serif;
	font-size:18px;}
	
	
.drop_menu li a:hover{
                      text-decoration:underline;}	
                      
/* style for text */                      
.content{
	     margin:80px 150px 0px 150px;
	     clear:right;
	     line-height:40px;
	     }

.keyword{color:#FF6868;
         font-weight:bold;}

.picture{float:right;
         margin:0px;
         padding:10px;
      }                      

