@import url("/students/yliang58/css/normalize.css");
@import url("/students/yliang58/css/menu.css");
header{
	position:fixed;
	top:0px;
	left:0px;
	width:1260px;
	background-color:#293E6A;
	color:#FFFFFF;
	padding:10px;
	z-index:9998;}

main{
	position:absolute;
	top:130px;
	left:50px;
	}
	
section{
	width:800px;
	border: 3px solid #77BA9B;
	padding:0px;
	margin-bottom:20px;
	}
	
aside{
	border:3px solid #3B5998;
	background-color:#BDD5FC;
	width:250px;
	padding:10px;
	position:absolute;
	right:10px;
	top:100px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	}

.content{
	margin: 10px;
	}

.info{
	background-color:#B6A754;
	color:#000000;
	padding-left:20px;
	border: 1px solid #000000;
	}
	
h2{
	font-family: verdana;
	background-color: #77BA9B;
	padding:5px;
	width:790px;
	margin:0px;
	position:relative;
	top:0px;
	left:0px;
	}
	
body, ul, li {
	font-size:14px; 
	font-family:Arial, Helvetica, sans-serif;
	line-height:21px;
	text-align:left;
	}

a{
	color:#3B5998;
	font-weight:bold;
	}

a:visited{
	color: #293E6A;
	}

a:hover{
	color:#639BF1;
	}

a:active{
	color:#77BA9B;
	}